@import "tailwindcss";

:root {
  --page-bg: #f2eae2;
  --page-surface: #fff;
  --color-white: #fff;
  --primary: #3d8168;
  --primary-accent: #1a4032;

  --muted: #6c7289;
  --strong: #1c232b;
  --fraunces: "Fraunces";
  --montserrat: "Montserrat";

  --breakpoint-sm: 600;
}

@font-face {
  font-family: "Fraunces";
  src: url("/fonts/Fraunces/Fraunces-VariableFont_SOFT,WONK,opsz,wght.ttf")
    format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat/Montserrat-VariableFont_wght.ttf")
    format("truetype");
  font-display: swap;
}

html,
body,
#root {
  min-height: 100vh;
  background-color: var(--page-bg);
}
